<script type="text/javascript" src="/static/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/plugins/toastr/toastr.min.js"></script>
<!-- <script src="/static/plugins/select2/js/select2.full.min.js"></script> -->

<script src="/static/plugins/sweetalert2/sweetalert2.all.min.js"></script>

<script type="text/javascript" src="/static/plugins/pdfmake/pdfmake.min.js"></script>
<script type="text/javascript" src="/static/plugins/pdfmake/vfs_fonts.js"></script>

<script type="text/javascript" src="/static/plugins/datatable/datatables.min.js"></script>

<script src="/static/common/moment-with-locales.min.js"></script>

<script src="/static/plugins/inputmask/jquery.inputmask.min.js"></script>
<script src="/js/common.js?t={{now}}"></script>


<script type="text/javascript" src="/static/plugins/daterangepicker/daterangepicker.js"></script>

<script src="/static/common/howler.min.js"></script>
<script src="/static/plugins/printJS/print.min.js"></script>
<script src="/static/common/qrcode.min.js"></script>
<script src="https://unpkg.com/html5-qrcode"></script>

<script src="/static/common/theme_change.js"></script>