<!-- Main Sidebar Container -->
<aside class="shadow app-sidebar bg-body-secondary">
    <div class="sidebar-wrapper">
        <!-- Brand Logo -->
        <div class="sidebar-brand">
            <a href="#" class="brand-link">
                <img src="/static/image/logo.png" class="brand-image rounded-circle" style="opacity: .8">
                <span class="brand-text font-weight-light">PKS-CVMS</span>
            </a>
        </div>

        <!-- Sidebar -->
        <div class="sidebar-wrapper">

            <!-- Sidebar Menu -->
            <nav class="mt-2" id="sideMenuBar">
                <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                    <li class="nav-item ">
                        <a class="nav-link" role="button" href="#" onclick="on_side_bar_event(this)" name="home">
                            <i class="nav-icon fas fa-home"></i>
                            <p>
                                Home(หน้าหลัก)
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


</aside>