<div class="">
    <div class="row">
        <div class="p-1 col-12">
            <div class="card bg-secondary-subtle bg-gradient">
                <div class="pb-0 card-body">
                    <div class="justify-between d-flex">
                        <i class=" fa-solid fa-building fa-4x text-primary-emphasis"></i>
                        <a href="#" class="">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                    <div class="text-center h1">Site-Name</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="p-1 col-6">
            <div class="card bg-primary-subtle bg-gradient">
                <div class="pb-0 card-body">
                    <div class="justify-between d-flex">
                        <i class="pb-4 fa-solid fa-book-open-reader fa-3x"></i>
                        <a href="#" class="">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                    <div class="text-center h1" name="day_transaction_on_booking">10</div>
                </div>
                <hr>
                <div class="pt-0 card-body">
                    <p class="mb-0 text-center">ทำรายการล่วงหน้า</p>
                </div>
            </div>
        </div>
        <div class="p-1 col-6">
            <div class="card bg-info-subtle bg-gradient">
                <div class="pb-0 card-body">
                    <div class="justify-between d-flex">
                        <i class="pb-4 fa-solid fa-book-open-reader fa-3x"></i>
                        <a href="#" class="">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                    <div class="text-center h1" name="total_all_transaction">10</div>
                </div>
                <hr>
                <div class="pt-0 card-body">
                    <p class="mb-0 text-center">จำนวนรายการ</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="p-1 col-6 ">
            <div class="card bg-success-subtle bg-gradient">
                <div class="pb-0 card-body">
                    <div class="justify-between d-flex">
                        <i class="pb-4 fa-solid fa-right-to-bracket fa-3x"></i>
                        <a href="#" class="">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                    <div class="text-center h1" name="day_transaction_on_success">10</div>
                </div>
                <hr>
                <div class="pt-0 card-body">
                    <p class="mb-0 text-center">ทำรายการ-เข้า วันนี้</p>
                </div>
            </div>
        </div>
        <div class="p-1 col-6">
            <div class="card bg-warning-subtle bg-gradient">
                <div class="pb-0 card-body">
                    <div class="justify-between d-flex">
                        <i class="pb-4 fa-solid fa-stamp fa-3x"></i>
                        <a href="#" class="">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                    <div class="text-center h1" name="day_transaction_on_site">10</div>
                </div>
                <hr>
                <div class="pt-0 card-body">
                    <p class="mb-0 text-center">ยังไม่ประทับตรา</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="p-1 col-6">
            <div class="card bg-danger-subtle bg-gradient">
                <div class="pb-0 card-body">
                    <div class="justify-between d-flex">
                        <i class="pb-4 fa-solid fa-right-to-bracket fa-3x"></i>
                        <a href="#" class="">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                    <div class="text-center h1" name="day_transaction_on_success">10</div>
                </div>
                <hr>
                <div class="pt-0 card-body">
                    <p class="mb-0 text-center">ทำรายการ-ออก วันนี้</p>
                </div>
            </div>
        </div>
        <div class="p-1 col-6">
            <div class="bg-success-subtle card bg-gradient">
                <div class="pb-0 card-body">
                    <div class="justify-between d-flex">
                        <i class="pb-4 fa-solid fa-right-to-bracket fa-3x"></i>
                        <a href="#" class="">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                    <div class="text-center h1" name="day_transaction_on_success">10</div>
                </div>
                <hr>
                <div class="pt-0 card-body">
                    <p class="mb-0 text-center">ทำรายการ-ออก วันนี้</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header ">
        <h3 class="card-title">Latest Events</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-lte-toggle="card-collapse">
                <i data-lte-icon="expand" class="bi bi-plus-lg"></i>
                <i data-lte-icon="collapse" class="bi bi-dash-lg"></i>
            </button>
        </div>

    </div>

    <div class="p-0 card-body">
        <div class="row">
            <div class="table-responsive col-lg-10">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Item</th>
                            <th>Status</th>
                            <th>Popularity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="pages/examples/invoice.html">OR9842</a></td>
                            <td>Call of Duty IV</td>
                            <td><span class="badge badge-success">Shipped</span></td>
                            <td>
                                <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="pages/examples/invoice.html">OR1848</a></td>
                            <td>Samsung Smart TV</td>
                            <td><span class="badge badge-warning">Pending</span></td>
                            <td>
                                <div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="pages/examples/invoice.html">OR7429</a></td>
                            <td>iPhone 6 Plus</td>
                            <td><span class="badge badge-danger">Delivered</span></td>
                            <td>
                                <div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-2">
                <div class="mb-3 info-box bg-warning">
                    <span class="info-box-icon"><i class="fas fa-tag"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Inventory</span>
                    </div>

                </div>

                <div class="mb-3 info-box bg-success">
                    <span class="info-box-icon"><i class="far fa-heart"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Mentions</span>

                    </div>

                </div>

                <div class="mb-3 info-box bg-danger">
                    <span class="info-box-icon"><i class="fas fa-cloud-download-alt"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Downloads</span>
                    </div>

                </div>

                <div class="mb-3 info-box bg-info">
                    <span class="info-box-icon"><i class="far fa-comment"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Direct Messages</span>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="clearfix card-footer">
        <a href="javascript:void(0)" class="float-left btn btn-sm btn-info">Place New Order</a>
        <a href="javascript:debug('javascript')" class="float-right btn btn-sm btn-secondary">View All Orders</a>
    </div>

</div>