<div class="row">
    <div class="col-md-4">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="w-36 rounded-md mx-auto" src="/static/image/logo_pks.png" alt="User profile picture">
                </div>
                <h3 class="text-center">CVMS</h3>
                <p class="text-muted text-center">Software For Control Plate</p>
                <ul class="list-group list-group-unbordered py-2">
                    <li class="list-group-item">
                        <b>Member</b> <a class="float-right">0</a>
                    </li>
                    <li class="list-group-item">
                        <b>User</b> <a class="float-right">0</a>
                    </li>

                </ul>
                <button class="btn btn-primary btn-block w-full" data-sound="btn">Follow</button>
            </div>
        </div>

    </div>

    <div class="col-md-8">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">About Me</h3>
            </div>

            <div class="card-body">
                <strong><i class="fas fa-book mr-1"></i> Education</strong>
                <p class="text-muted">
                    B.S. in Computer Science from the University of Tennessee at Knoxville
                </p>
                <hr>
                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                <p class="text-muted">Malibu, California</p>
                <hr>
                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>
                <p class="text-muted">
                    <span class="tag tag-danger">UI Design</span>
                    <span class="tag tag-success">Coding</span>
                    <span class="tag tag-info">Javascript</span>
                    <span class="tag tag-warning">PHP</span>
                    <span class="tag tag-primary">Node.js</span>
                </p>
                <hr>
                <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
            </div>
        </div>
    </div>

</div>

</div>